<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>ReflejoVisionWeb</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
    <filter>
        <filter-name>LanguageFilter</filter-name>
        <filter-class>com.pinguela.web.filter.LanguageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LanguageFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	
  
  <filter>
        <filter-name>LogFilter</filter-name>
        <filter-class>com.pinguela.web.filter.LogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LogFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
   
   	<filter>
        <filter-name>AuthenticationFilter</filter-name>
        <filter-class>com.pinguela.web.filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationFilter</filter-name>
        <url-pattern>/private/*</url-pattern>
    </filter-mapping>
    
     <filter>
        <filter-name>ParameterFilter</filter-name>
        <filter-class>com.pinguela.web.filter.ParameterFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>ParameterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
     
</web-app>